@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --primary-color: #1c4824;
  --primary-color-dark: #0e2b15;
  --accent-color: #25d445;
  --bg-color-light: #f2f3f2;
  --text-color: #171c19;
}

/* general */

.icon {
  display: inline;
}

.wrapper {
  max-width: 1120px;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.337);
}

#top-navBar {
  background-color: var(--primary-color-dark);
  padding: 0.5rem 0;

  .wrapper {
    display: flex;
    justify-content: right;
    gap: 1rem;

    span {
      display: flex;
      gap: 0.5rem;
    }
  }
}

#bottom-navBar {
  background-color: var(--primary-color);
  padding: 0.5rem 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#bottom-navBar ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: bold;

  a {
    text-decoration: none;
    color: var(--bg-color-light);
    transition: 200ms;
  }

  a:hover {
    color: var(--accent-color);
  }
}

.active-page {
  position: relative;
  width: fit-content;

  a {
    color: var(--accent-color);
  }

  &::after {
    content: '';
    width: 100%;
    height: 0.2em;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

#hero {
  background-image: url(/assets/images/hero.jpg);
  height: 675px;
}

.cta {
  background: #0db92d;
  padding: 1rem, 2rem;
  width: ;
  background-color: linear-gradient(rgb(13, 185, 45) 0%, rgb(8, 127, 30) 100%);
  box-shadow: 0px 4px 8px -2px #1eb1399e;
}

/* Group 92

position: absolute;
width: 137px;
height: 44px;
left: 1111px;
top: 50px;



/* Rectangle 33 */

/* position: absolute;
width: 137px;
height: 44px;
left: 1111px;
top: 50px;

background: #0DB92D;
box-shadow: 0px 4px 8px -2px rgba(30, 177, 57, 0.62);
border-radius: 5px; */

/* Contactanos */

/* position: absolute;
width: 137px;
height: 21px;
left: 1111px;
top: 63px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); */
